<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/mailbx/css/main.css">
    <link rel="stylesheet" href="{% static 'mailbx/css/main.css' %}">
    <title>信箱主页</title>
</head>

<body>
    <div class="black"></div>
    <div class="panelbox">
        <div class="usericon">
            <img src="{{ user.iconurl }}"> <!-- 用django嵌入式调用参数传递头像路径 -->
            <ul class="usermenu">
                <!--二级菜单必须是一级的儿子，不然停不住 -->
                <li id="usercenter">个人中心</li>
                <li id="logout">注销</li>
            </ul>
        </div>
        <!-- 人物面板区块 -->
        <div class="shuji">
            <ul>
                <li><img src="../../../static/mailbx/img/liushuji.png" alt=""></li>
                <li><img src="../../../static/mailbx/img/zhaoyuan.png" alt=""></li>
                <li><img src="../../../static/mailbx/img/liushuji.png" alt=""></li>
            </ul>
            <div class="box"></div> <!-- 占位盒子 -->
            <div class="leftarrow">
                <div></div>
            </div>
            <div class="textbox">
                <h4>刘炳芹</h4>
                <p>沧县医院党委书记</p>
            </div>
            <div class="rightarrow">
                <div></div>
            </div>
        </div>
        <!-- 收件箱区块 -->
        <div class="receive">
            <ul>
            </ul>
        </div>
    </div>
    <!-- 弹出式发帖页面，在.glassbox外 -->
    <div class="glassbg">
        <div class="towho">致刘书记</div>
        <div class="closebox">
            <span class="close">1</span>
        </div>
        <div class="titlebox">
            <input type="text" placeholder="请输入标题">
        </div>
        <div class="writezone">
            <textarea name="" id="" cols="30" rows="10" placeholder="请输入内容"></textarea>
        </div>
        <div class="btnbox">
            <input type="button" value="发送">
            <input type="button" id='clear' value="清空">
        </div>
    </div>
    <!-- 弹出式评论页面 -->
    <div class="commentbox">
        <div class="cmclosebox">
            <span class="cmclose"></span>
        </div>
        <div class="readzone">
            <textarea readonly cols="30" rows="10"></textarea>
        </div>
        <div class="commentzone">
            <ul>
            </ul>
        </div>
        <div class="replyzone">
            <textarea name="" id="" cols="10" rows="10" placeholder="请输入评论内容"></textarea>
        </div>
        <div class="cmBtnBox">
            <input type="button" id='replybtn' value="发送">
            <input type="button" id='cmclear' value="清空">
        </div>
    </div>

    <!-- 弹出式个人中心 -->
    <div class="usercenter">
        <div class="usercentericon">
            <img src="" alt="">
        </div>
        <div class="icontext">
            <p>点击更换头像</p>
        </div>
        <div class="signbox">
            <ul>
                <li>
                    <p>账号:</p>
                    <p class="account"></p>
                </li>
                <li>
                    <p>昵称:</p>
                    <input type="text" name="nickname" id="nickname" value="">
                </li>
            </ul>
        </div>
        <div class="tipsbox">
            <ul>
                <li>账号不可修改</li>
                <li>单击昵称修改，不超过8个字，不能含有空格标点或特殊字符</li>
            </ul>
        </div>
        <div class="userbtnbox">
            <button class="submitbtn">保存</button>
            <button class="backbtn">返回</button>
        </div>
    </div>

    <!-- 弹出式头像选择页面 -->
    <div class="chooseicon">
        <ul class="clearfix">
        </ul>
    </div>
    <!-- 底部信息条 -->
    <footer>
        <p>由信息科提供技术支持，电话3163809</p>
    </footer>
</body>

</html>

<script>
    //页面加载,backdata为返回的邮件json数据
    window.addEventListener('load', function () {
        let xhr = new XMLHttpRequest();
        xhr.open('get', '/mailbx/mbe/?t=' + Math.random());  //此处兼容IE浏览器，IE相同url不会多次发送ajax请求，所以添加一个随机数参数来形成不通的url
        xhr.send(null);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                //照片轮播图代码块
                let picul = document.querySelector('.shuji>ul');
                let leftarrow = document.querySelector('.leftarrow>div');
                let rightarrow = document.querySelector('.rightarrow>div');
                let deanname = document.querySelector('.textbox>h4');
                let deanduty = document.querySelector('.textbox>p');
                let towho = document.querySelector('.towho');
                let num = 0;
                let deanid = '111';

                let backdata = JSON.parse(xhr.responseText);
                let fatherul = document.querySelector('.receive>ul');
                createmailli(backdata, fatherul, deanid)
                // 左按钮功能
                leftarrow.onclick = function () {
                    if (num == 2) {
                        picul.style.left = 0;
                        num = 0;
                    }
                    num++;

                    if (num == 0 || num == 2) {
                        deanname.innerHTML = '刘炳芹';
                        deanduty.innerHTML = '沧县医院党委书记';
                        towho.innerHTML = '致刘书记';
                        deanid = '111';
                    } else {
                        deanname.innerHTML = '赵彬';
                        deanduty.innerHTML = '沧县医院院长';
                        towho.innerHTML = '致赵院长';
                        deanid = '112';
                    }

                    clearInterval(picul.timer);
                    picul.timer = setInterval(function () {
                        let step = (-300 * num - picul.offsetLeft) / 10;
                        step = step > 0 ? Math.ceil(step) : Math.floor(step);
                        if (picul.offsetLeft == -300 * num) {
                            clearInterval(picul.timer);
                        }
                        picul.style.left = picul.offsetLeft + step + 'px';
                    }, 15);

                    let fatherul = document.querySelector('.receive>ul');
                    fatherul.innerHTML = '';
                    createmailli(backdata, fatherul, deanid);
                }
                // 右箭头功能
                rightarrow.onclick = function () {
                    if (num == 0) {
                        picul.style.left = -(picul.children.length - 1) * 300 + 'px';
                        num = picul.children.length - 1;
                    }
                    num--;

                    if (num == 0 || num == 2) {
                        deanname.innerHTML = '刘炳芹';
                        deanduty.innerHTML = '沧县医院党委书记';
                        towho.innerHTML = '致刘书记';
                        deanid = '111';
                    } else {
                        deanname.innerHTML = '赵彬';
                        deanduty.innerHTML = '沧县医院院长';
                        towho.innerHTML = '致赵院长';
                        deanid = '112';
                    }

                    clearInterval(picul.timer);
                    picul.timer = setInterval(function () {
                        let step = (-300 * num - picul.offsetLeft) / 10;
                        step = step > 0 ? Math.ceil(step) : Math.floor(step);
                        if (picul.offsetLeft == -300 * num) {
                            clearInterval(picul.timer);
                        }

                        picul.style.left = picul.offsetLeft + step + 'px';
                    }, 15);

                    let fatherul = document.querySelector('.receive>ul');
                    fatherul.innerHTML = '';
                    createmailli(backdata, fatherul, deanid);
                }
            }
        }

    })

    //个人中心模块
    window.addEventListener('load', function () {
        //加载时请求一次头像数据，之后不再请求
        let xhr = new XMLHttpRequest();
        xhr.open('get', '/mailbx/getallicons/?t=' + Math.random());
        xhr.send();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                let iconsdata = JSON.parse(xhr.responseText);

                //弹出式个人中心
                let usercenterbtn = document.querySelector('#usercenter');
                usercenterbtn.onclick = function () {
                    let usercenter = document.querySelector('.usercenter');
                    let black = document.querySelector('.black');
                    usercenter.style.transform = 'scale(1)';  //弹出动画
                    black.style.display = 'block';  //遮罩层开启

                    let usercentericon = document.querySelector('.usercentericon>img');
                    usercentericon.src = "{{ user.iconurl }}";

                    let account = document.querySelector('.account');
                    let nickname = document.querySelector('#nickname');
                    account.innerHTML = "{{ user.id }}";
                    nickname.value = "{{ user.nickname }}";
                }


                //弹出式头像选择界面
                let iconbtn = document.querySelector('.usercentericon');
                iconbtn.onclick = function () {
                    let iconul = document.querySelector('.chooseicon>ul');
                    let chooseicon = document.querySelector('.chooseicon');
                    let black = document.querySelector('.black');
                    chooseicon.style.transform = 'scale(1)';
                    black.style.display = 'block';

                    iconul.innerHTML = '';  //每次显示前清空ul内li

                    for (let i = 0; i < iconsdata.length; i++) {
                        let iconli = document.createElement('li');
                        let iconimg = document.createElement('img');
                        iconimg.src = iconsdata[i].fields.mailbxurl;
                        iconli.appendChild(iconimg);
                        iconul.appendChild(iconli);

                        let icons = document.querySelectorAll('.chooseicon>ul>li');
                        let count = i;
                        icons[i].onclick = function () {
                            chooseicon.style.transform = 'scale(0)';

                            let usericon = document.querySelector('.usercentericon>img');
                            usericon.src = iconsdata[count].fields.mailbxurl;
                        }
                    }
                }
            }
        }
    })

    //个人中心保存按钮
    let submitbtn = document.querySelector('.submitbtn');
    submitbtn.onclick = function () {
        let nickname = document.querySelector('#nickname');
        let iconurl = document.querySelector('.usercentericon>img');
        let data = '';

        if (nickname.value != '' && nickname.value != '{{ user.nickname }}') {
            data = 'newnickname=' + nickname.value;
        }

        if (iconurl.src != '{{ user.iconurl }}') {
            data = data + '&newicon=' + iconurl.src;
        }

        if (data === '') {
            alert('您未作任何修改，无需保存');
        } else {
            let xhr = new XMLHttpRequest();
            //url用encodeURI转码，这样IE不会将中文编码成乱码传给后端
            xhr.open('get', encodeURI('/mailbx/aui/?' + data + '&t=' + Math.random()));
            xhr.send();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    let backjson = JSON.parse(xhr.responseText);
                    if (backjson.status === 1) {
                        alert(backjson.msg);
                        window.location.reload();
                    } else if (backjson.status === 0) {
                        alert(backjson.msg);
                    }
                }
            }
        }
    }


    //个人中心返回按钮
    let backbtn = document.querySelector('.backbtn');
    backbtn.onclick = function () {
        let black = document.querySelector('.black');
        let usercenter = document.querySelector('.usercenter');
        let chooseicon = document.querySelector('.chooseicon');

        black.style.display = 'none';
        usercenter.style.transform = 'scale(0)';
        chooseicon.style.transform = 'scale(0)';
    }

    //点击人物弹出发帖界面
    let textbox = document.querySelector('.textbox');
    textbox.onclick = function () {
        let glassbg = document.querySelector('.glassbg');
        let black = document.querySelector('.black');
        glassbg.style.transform = 'scale(1)';  //弹出动画
        black.style.display = 'block';  //遮罩层开启
    }

    //发送按钮注册点击事件
    let sendbtn = document.querySelector('.btnbox');
    sendbtn.onclick = function () {
        let receiver = document.querySelector('.textbox>h4');
        let title = document.querySelector('.titlebox>input');
        let writezone = document.querySelector('.writezone>textarea');

        //防止空标题和内容
        if (title.value === '' || writezone.value === '') {
            alert('请输入标题和内容');
        } else {

            let xhr = new XMLHttpRequest();
            xhr.open('post', '/mailbx/mwe/');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
            xhr.send('receiver=' + receiver.innerHTML + '&title=' + title.value + '&content=' + writezone.value)
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    let glassbg = document.querySelector('.glassbg');
                    let black = document.querySelector('.black');
                    let textarea = document.querySelector('textarea');
                    let title = document.querySelector('.titlebox>input');
                    glassbg.style.transform = 'scale(0)';
                    black.style.display = 'none';  //遮罩层关闭
                    textarea.value = ''; //清空标题和内容
                    title.value = '';
                    alert('发送成功');
                    window.location.reload();
                }
            }
        }
    }


    //点击发帖界面上的关闭按钮关闭发帖界面
    let closebtn = document.querySelector('.closebox');
    closebtn.onclick = function () {
        let glassbg = document.querySelector('.glassbg');
        let black = document.querySelector('.black');
        let textarea = document.querySelector('textarea');
        let title = document.querySelector('.titlebox>input');
        glassbg.style.transform = 'scale(0)';
        black.style.display = 'none';  //遮罩层关闭
        textarea.value = ''; //清空标题和内容
        title.value = '';
    }


    // 清空按钮功能
    let clearbtn = document.querySelector('#clear');
    clearbtn.onclick = function () {
        let textarea = document.querySelector('textarea');
        textarea.value = '';
    }


    // 清空按钮功能
    let cmclearbtn = document.querySelector('#cmclear');
    cmclearbtn.onclick = function () {
        let textarea = document.querySelector('.replyzone>textarea');
        textarea.value = ''; //清除回复输入框的内容
    }

    //注销按钮功能
    let logout = document.querySelector('#logout');
    logout.onclick = function () {
        let xhr = new XMLHttpRequest();
        xhr.open('get', '/mailbx/logout/');
        xhr.send();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                window.location.href = '/login/'
            }
        }
    }

    //创建邮件li的功能函数 
    function createmailli(backdata, fatherul, deanid) {
        let a = 0;  //控制mail[]这个nodelist对象的子元素的选择
        for (let i = 0; i < backdata.length; i++) {
            if (backdata[i].fields.recipient === deanid) {
                let mailli = document.createElement('li');
                let titleh4 = document.createElement('h4');
                mailli.appendChild(titleh4);
                fatherul.appendChild(mailli);
                titleh4.innerHTML = backdata[i].fields.title;
                if (backdata[i].fields.other_new_comment === 1) {
                    let newReplyP = document.createElement('p');
                    mailli.appendChild(newReplyP);
                    newReplyP.innerHTML = '新回复';
                }

                // 点击邮件弹出回复框，循环添加事件
                let mail = document.querySelectorAll('.receive>ul>li');
                let count = i;  //IE必须将for内的i赋值给一个变量再传递给下一个回调函数
                mail[a++].onclick = function () {
                    let commentbox = document.querySelector('.commentbox');
                    let black = document.querySelector('.black');
                    commentbox.style.transform = 'scale(1)';  //弹出动画
                    black.style.display = 'block';  //遮罩层开启

                    //将邮件内容填充到阅读区
                    let readzoneTextarea = document.querySelector('.readzone>textarea');
                    readzoneTextarea.value = backdata[count].fields.content;

                    //选取用户头像img标签，准备用它的src
                    let iconimg = document.querySelector('.usericon>img');

                    //ajax请求该邮件的所有评论
                    let xhr = new XMLHttpRequest();
                    xhr.open('get', '/mailbx/mbc/?emailid=' + backdata[count].pk + '&commentatorId=' + backdata[count].fields.recipient + '&t=' + Math.random());  //此处兼容IE浏览器，IE相同url不会多次发送ajax请求，所以添加一个随机数参数来形成不通的url
                    xhr.send();
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            //处理返回的评论数据
                            let back = JSON.parse(xhr.responseText);
                            let backcomments = JSON.parse(back.comments);
                            let backcommentator = JSON.parse(back.commentator);
                            //选取评论区的父ul
                            let fatherul = document.querySelector('.commentzone>ul');
                            //循环先判断是否是发帖人本人的评论，是的话把li写在右边，不是写左边
                            for (let i = 0; i < backcomments.length; i++) {
                                //是本人的评论
                                if ("{{ user.id }}" === backcomments[i].fields.commentator_id) {
                                    let commentsli = document.createElement('li');
                                    let commentsp = document.createElement('p');
                                    let commentsimg = document.createElement('img');
                                    commentsli.style.textAlign = 'right';
                                    commentsli.appendChild(commentsp);
                                    commentsli.appendChild(commentsimg);
                                    fatherul.appendChild(commentsli);
                                    commentsp.innerHTML = backcomments[i].fields.content;
                                    commentsimg.src = iconimg.src;
                                    // commentsimg.src=backcomments[count].fields.icon;
                                } else {  //不是本人的评论
                                    let commentsli = document.createElement('li');
                                    let commentsp = document.createElement('p');
                                    let commentsimg = document.createElement('img');
                                    commentsli.style.textAlign = 'left';
                                    commentsli.appendChild(commentsimg);
                                    commentsli.appendChild(commentsp);
                                    fatherul.appendChild(commentsli);
                                    commentsp.innerHTML = backcomments[i].fields.content;
                                    commentsimg.src = backcommentator[0].fields.iconurl;
                                }
                            }
                        }
                    }

                    //回复按钮注册点击事件
                    let replybtn = document.querySelector('#replybtn');
                    replybtn.onclick = function () {
                        let replyzone = document.querySelector('.replyzone>textarea');
                        if (replyzone.value == '') {
                            alert('请输入回复内容');
                        } else {
                            let xhr = new XMLHttpRequest();
                            xhr.open('post', '/mailbx/mwc/');
                            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                            xhr.send('content=' + replyzone.value + '&email_id=' + backdata[count].pk);
                            xhr.onreadystatechange = function () {
                                if (xhr.readyState === 4 && xhr.status === 200) {
                                    let commentsli = document.createElement('li');
                                    let commentsp = document.createElement('p');
                                    let commentsimg = document.createElement('img');
                                    let fatherul = document.querySelector('.commentzone>ul');
                                    commentsli.style.textAlign = 'right';
                                    commentsli.appendChild(commentsp);
                                    commentsli.appendChild(commentsimg);
                                    fatherul.appendChild(commentsli);
                                    commentsp.innerHTML = replyzone.value;
                                    commentsimg.src = iconimg.src;
                                    fatherul.scrollTop = fatherul.scrollHeight;  //让滚动条自动滚到底部
                                    replyzone.value = '';
                                }
                            }
                        }
                    }

                    //点击评论界面上的关闭按钮关闭评论界面
                    let cmclosebtn = document.querySelector('.cmclosebox');
                    cmclosebtn.onclick = function () {
                        let commentbox = document.querySelector('.commentbox');
                        let black = document.querySelector('.black');
                        let textarea = document.querySelector('.replyzone>textarea');
                        let title = document.querySelector('.titlebox>input');
                        let fatherul = document.querySelector('.commentzone>ul');
                        commentbox.style.transform = 'scale(0)';
                        black.style.display = 'none';  //遮罩层关闭
                        textarea.value = ''; //清空标题和replyzone内容
                        title.value = '';
                        fatherul.innerHTML = '';  //清空回复框内的内容防止重复添加
                        //点击有新回复的邮件关闭评论页面后通过刷新取消掉新回复的标签
                        if (backdata[count].fields.other_new_comment === 1) {
                            window.location.reload();
                        }
                    }
                }
            }
        }
    }

</script>