<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/mailbx/css/main.css">
    <link rel="stylesheet" href="{% static 'mailbx/css/main.css' %}">
    <script src="../../static/home/js/jquery.js"></script>
    <script src="{% static 'mailbx/js/jquery.js' %}"></script>
    <script src="../../static/mailbx/js/main.js"></script>
    <script src="{% static 'mailbx/js/main.js' %}"></script>
    <title>主页</title>
</head>

<body>
    <div class="headbox">
        <div id="iconbox"><img src="" alt=""></div>
        <div id="logobox">
            <a href="javascript:;">沧县医院</a>
        </div>
        <div id="menubox">
            <ul>
                <li><a href="">注销</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="leftbox">
            <div class="writeemail">
                <a href="#">写邮件</a>
            </div>
            <div class="backtop">
                回到顶部
            </div>
        </div>
        <div class="middlebox">
            <ul>

            </ul>
        </div>
        <div class="rightbox"></div>
    </div>
    <div class="pagebox">

    </div>
</body>

</html>