body {
    margin: 0;
    padding: 0;
    background-image: url(../img/errorbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
} 

#bigbox {
    position: relative;
    margin: 0 auto;
    top: 100px;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 500px;
    height: 400px;
    border-radius: 10px;
    text-align: center;
}

#bigbox h1,h2 {
    color: rgb(255, 255, 255);
}

#bigbox h2 {
    position: relative;
    top: 100px;
}

#bigbox .inputbox .inputbutton {
    border: 0;
    width: 130px;
    height: 35px;
    margin-left: 80px;
}

.button {
    position: absolute;
    border: 0;
    top: 80%;
    left: 50%;
    margin-left: -50px;
    width: 80px;
    height: 40px;
    font-size: 17px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 6px;
    border-top: 1px solid rgba(255,255,255,0.8);
    border-left: 1px solid rgba(255,255,255,0.8);
    font-weight: 700;
    color: white;
}

.buttonbox {
    width: 400px;
    height: 100px;
    padding-top: 10px;
    margin-top: 50px;
    margin-left: 13px;
    text-align: center;
}

.text {
    font-size: 20px;
}
