* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;  /* 避免双击或拉选出蓝色背景 */
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

body {
    background: url('../img/mainbg5.jpg') no-repeat;
    font-family: 'Microsoft YaHei';
    font-size: 16px;
}

/* body {
    background-color: #e493d0;
    background-image: 
        radial-gradient(closest-side,rgba(255,105,78,1),rgba(235,105,78,0)),
        radial-gradient(closest-side,rgba(243,11,164,1),rgba(243,11,164,0)),
        radial-gradient(closest-side,rgba(254,234,131,1),rgba(254,234,131,0)),
        radial-gradient(closest-side,rgba(170,142,245,1),rgba(170,142,245,0)),
        radial-gradient(closest-side,rgba(248,192,147,1),rgba(248,192,147,0));
    background-size: 
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 90vmax;
    background-position:  
        -80vmax -80vmax,
        60vmax 60vmax,
        10vmax 10vmax,
        -10vmax -10vmax,
        50vmax 50vmax;
    background-repeat: no-repeat;
    animation: 10s movement linear infinite;
} */

@keyframes movement {
    0%, 100% {
        background-size: 
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 90vmax;
        background-position:  
        -80vmax -80vmax,
        60vmax 60vmax,
        10vmax 10vmax,
        -10vmax -10vmax,
        50vmax 50vmax;
    }
    25% {
        background-size: 
        110vmax 110vmax,
        90vmax 90vmax,
        100vmax 100vmax,
        90vmax 90vmax,
        70vmax 80vmax;
        background-position:  
        -70vmax -90vmax,
        50vmax 40vmax,
        0vmax 20vmax,
        -10vmax -20vmax,
        40vmax 60vmax;
    }
    50% {
        background-size: 
        90vmax 90vmax,
        100vmax 100vmax,
        105vmax 105vmax,
        100vmax 100vmax,
        80vmax 80vmax;
        background-position:  
        -50vmax -70vmax,
        40vmax 30vmax,
        10vmax 0vmax,
        20vmax 10vmax,
        30vmax 70vmax;
    }
    75% {
        background-size: 
        90vmax 90vmax,
        90vmax 90vmax,
        100vmax 100vmax,
        90vmax 90vmax,
        70vmax 70vmax;
    background-position:  
        -50vmax -40vmax,
        50vmax 70vmax,
        20vmax 10vmax,
        -10vmax -20vmax,
        40vmax 60vmax;
    }
}

.bgtext {
    position: absolute;
    font-size: 130px;
    top: 50%;
    margin-top: -99px;
    left: 50%;
    margin-left: -492px;
    min-width: 984px;
}

/* 主面板样式 */
.panelbox {
    position: relative;
    top: 100px;
    margin: 0 auto;
    width: 1000px;
    height: 550px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    border-top: 2px solid rgba(255,255,255,0.8);
    border-left: 2px solid rgba(255,255,255,0.8);
}

.black {
    position: absolute;
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.usericon {
    position: absolute;
    top: 15px;
    left: 935px;
    width: 50px;
    height: 50px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    cursor: pointer;
}

.usericon>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.usericon:hover {
    background: linear-gradient(
        to right bottom,rgba(255,255,255,1),rgba(255,255,255,0.8)
    );
}

.usermenu {
    position: absolute;
    left: -103px;
    top: 50px;
    z-index: 10;
    width: 150px;
    min-height: 90px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    border-top: 2px solid rgba(255,255,255,0.8);
    border-left: 2px solid rgba(255,255,255,0.8);
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: all .3s;
}

.usericon:hover .usermenu {
    transform: scaleY(1);
}

.usermenu>li {
    width: 150px;
    height: 25px;
    line-height: 25px;
    margin-top: 12px;
    text-align: center;
}

.usermenu>li:hover {
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    color: sandybrown;
}

.shuji {
    position: absolute;
    top: 70px;
    left: 70px;
    width: 300px;
    height: 400px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    overflow: hidden;
}

.shuji img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.shuji h4,.shuji p {
    width: 160px;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.textbox {
    cursor: pointer;
}

.textbox:hover {
    color: teal;
}

.shuji>ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 900px;
}

.shuji>ul>li {
    float: left;
    width: 300px;
    vertical-align: top;
}

.leftarrow {
    width: 65px;
    height: 50px;
    display: inline-block;
}

.leftarrow>div {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-top: 10px;
    transform: rotate(45deg);
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    cursor: pointer;
    transition: .2s;
}

.leftarrow>div:hover, .rightarrow>div:hover {
    border-color: sandybrown;
}

.box {
    display: block;
    width: 300px;
    height: 300px;
}

.textbox {
    width: 160px;
    height: 100px;
    margin-top: 10px;
    display: inline-block;
}

.rightarrow {
    width: 65px;
    height: 50px;
    display: inline-block;
}

.rightarrow>div {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-top: 10px;
    transform: rotate(45deg);
    border-top: 5px solid #000;
    border-right: 5px solid #000;
    cursor: pointer;
    transition: .2s;
}


/* 小收件箱样式 */
.receive {
    position: absolute;
    top: 70px;
    left: 400px;
    width: 530px;
    height: 400px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
}

.receive>ul {
    margin-top: 20px;
    width: 530px;
    height: 360px;
    overflow: auto;
}

.receive>ul>li {
    width: 490px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.3);
    cursor: pointer;
    text-indent: 20px;
    line-height: 40px;
}

.receive>ul>li>h4 {
    float: left;
    width: 380px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.receive>ul>li>p {
    float: right;
    width: 100px;
    color: red;
}

.receive li:hover {
    background: linear-gradient(
        to right bottom,rgba(255,255,255,1),rgba(255,255,255,0.8)
    );
}


/* 弹出式发帖页面css */
.glassbg {
    position: absolute;
    transform: scale(0);  /*使用缩放来实现弹出窗口*/
    width: 500px;
    height: 550px;
    z-index: 6;
    top: 100px;
    left: 50%;
    margin-left: -250px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    border-top: 2px solid rgba(255,255,255,0.8);
    border-left: 2px solid rgba(255,255,255,0.8);
    transition: .4s;
}

.towho {
    position: absolute;
    left: 50px;
    top: 15px;
    width: 100px;
    height: 40px;
    line-height: 35px;
    text-indent: 15px;
    font-size: 17px;
    font-weight: 600;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    border-top: 2px solid rgba(255,255,255,0.8);
    border-left: 2px solid rgba(255,255,255,0.8);
}

.closebox {
    position: absolute;
    left: 460px;
    top: 5px;
    font-size: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    transition: .3s;
}

.close {
    margin-top: 14px;
    margin-left: 5px;
    display: block;
}

.close::before,.close::after {
    content: '';
    width: 20px;
    height: 3px;
    background: rgb(165, 135, 135);
    display: block;
    transition: .3s;
}

.close::before {
    transform: rotate(45deg);
}

.close::after {
    transform: translateY(-3px) rotate(-45deg);
}

.closebox:hover .close::before,.closebox:hover .close::after {
    /* background: rgb(112, 207, 74); */
    background: rgb(158, 234, 106);
}

.titlebox {
    position: absolute;
    width: 400px;
    height: 50px;
    top: 70px;
    left: 50%;
    margin-left: -200px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    border-top: 2px solid rgba(255,255,255,0.8);
    border-left: 2px solid rgba(255,255,255,0.8);
}

.titlebox>input {
    width: 375px;
    height: 50px;
    margin-left: 15px;
    border: none;
    border-radius: 20px;
    background: transparent;
    outline: none;
    font-size: 20px;
    font-weight: 600;
}

.writezone {
    position: absolute;
    width: 400px;
    height: 330px;
    top: 140px;
    left: 50%;
    margin-left: -200px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    border-top: 2px solid rgba(255,255,255,0.8);
    border-left: 2px solid rgba(255,255,255,0.8);
}

.writezone>textarea {
    margin-left: 15px;
    margin-top: 12px;
    width: 375px;
    height: 305px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 18px;
    resize: none;
    overflow-y: auto;
}

.btnbox {
    position: absolute;
    width: 500px;
    top: 490px;
}

.btnbox>input {
    margin-left: 50px;
    width: 90px;
    height: 40px;
    border-radius: 9px;
    cursor: pointer;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    border: transparent;
    font-size: 17px;
    transition: .2s;
    font-weight: 600;
}

.btnbox>input:hover {
    border: 4px solid rgb(158, 234, 106);
}

/* 弹出式评论页面 */
.commentbox {
    position: absolute;
    transform: scale(0);  /*使用缩放来实现弹出窗口*/
    width: 700px;
    height: 700px;
    z-index: 6;
    top: 30px;
    left: 50%;
    margin-left: -350px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    border-top: 2px solid rgba(255,255,255,0.8);
    border-left: 2px solid rgba(255,255,255,0.8);
    transition: .4s;
}

.cmclosebox {
    position: absolute;
    left: 660px;
    top: 5px;
    font-size: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    transition: .3s;
}

.cmclose {
    margin-top: 14px;
    margin-left: 5px;
    display: block;
}

.cmclose::before,.cmclose::after {
    content: '';
    width: 20px;
    height: 3px;
    background: rgb(165, 135, 135);
    display: block;
    transition: .3s;
}

.cmclose::before {
    transform: rotate(45deg);
}

.cmclose::after {
    transform: translateY(-3px) rotate(-45deg);
}

.cmclosebox:hover .cmclose::before,.cmclosebox:hover .cmclose::after {
    /* background: rgb(112, 207, 74); */
    background: rgb(158, 234, 106);
}

.readzone {
    position: absolute;
    width: 600px;
    height: 280px;
    top: 30px;
    left: 50%;
    margin-left: -300px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    border-top: 2px solid rgba(255,255,255,0.8);
    border-left: 2px solid rgba(255,255,255,0.8);
}

.readzone>textarea {
    padding: 0 10px;
    margin-top: 12px;
    width: 600px;
    height: 260px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 18px;
    resize: none;
    overflow-y: auto;
}

.commentzone {
    position: absolute;
    width: 600px;
    height: 200px;
    top: 320px;
    left: 50px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    border-top: 2px solid rgba(255,255,255,0.8);
    border-left: 2px solid rgba(255,255,255,0.8);
}

.commentzone>ul {
    width: 570px;
    height: 180px;
    margin-left: 10px;
    margin-top: 10px;
    overflow-y: auto;
}

.commentzone>ul>li {
    margin-top: 8px;
}

.commentzone>ul>li>p {
    display: inline-block;
    min-height: 30px;
    max-width: 235px;
    font-size: 17px;
    margin: 0 8px;
    padding: 0 5px;
    word-wrap: break-word;
    background: rgb(158, 234, 106);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    line-height: 22px;
}

.commentzone>ul>li>img {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    vertical-align: top;  /* 让文本元素对齐img的设置 */
}


.replyzone {
    position: absolute;
    margin-left: 100px;
    width: 400px;
    height: 80px;
    top: 530px;
    left: 50px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    border-top: 2px solid rgba(255,255,255,0.8);
    border-left: 2px solid rgba(255,255,255,0.8);
}

.replyzone>textarea {
    margin-left: 18px;
    margin-top: 5px;
    width: 370px;
    height: 70px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 18px;
    resize: none;
    overflow-y: auto;
}

.cmBtnBox {
    position: absolute;
    left: 50%;
    margin-left: -170px;
    width: 500px;
    top: 630px;
}

.cmBtnBox>input {
    margin-right: 150px;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    border: transparent;
    font-size: 17px;
    transition: .2s;
}

.cmBtnBox>input:hover {
    border: 4px solid rgb(158, 234, 106);
}

/* 弹出式个人中心 */
.usercenter {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -270px;
    transform: scale(0);
    z-index: 4;
    width: 540px;
    height: 500px;
    border-radius: 20px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.4)
    );
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    border-top: 2px solid rgba(255,255,255,0.8);
    border-left: 2px solid rgba(255,255,255,0.8);
}

.usercentericon {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 35px;
    left: 50%;
    margin-left: -50px;
    border-radius: 20px;
}

.usercentericon>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.icontext>p {
    position: absolute;
    left: 50%;
    top: 140px;
    margin-left: -48px;
    color: white;
}

.signbox {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 170px;
    left: 50px;
    
}

.signbox>ul>li {
    margin-top: 20px;
}

.signbox>ul>li>p {
    display: inline-block;
    font-size: 20px;
    color: white;
    margin-right: 10px;
}

.signbox>ul>li>input {
    width: 180px;
    height: 30px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border-color: transparent;
    border-radius: 7px;
    text-indent: 5px;
    margin-left: -5px;
    line-height: 30px;
}

.signbox input::-webkit-input-placeholder {
    color: whitesmoke;
}
.signbox input:ms-input-placeholder {
    color: whitesmoke;
}

#iconurl {
    display: none;
}

.tipsbox {
    position: absolute;
    top: 180px;
    width: 200px;
    height: 300px;
    left: 50%;
    margin-left: 50px;
}

.tipsbox li {
    margin-top: 10px;
    color: white;
    list-style: disc;
}

.userbtnbox {
    position: absolute;
    width: 100%;
    top: 420px;
}

.submitbtn, .backbtn {
    width: 80px;
    height: 40px;
    margin-left: 120px;
    border-radius: 10px;
    font-size: 17px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 6px;
    border-top: 1px solid rgba(255,255,255,0.8);
    border-left: 1px solid rgba(255,255,255,0.8);
}

.submitbtn:hover, .backbtn:hover {
    background: linear-gradient(
        to right bottom,rgba(255,255,255,1),rgba(255,255,255,0.8)
    );
}

/* 弹出式头像选择界面 */
.chooseicon {
    position: absolute;
    transform: scale(0);
    z-index: 9;
    top: 120px;
    left: 50%;
    margin-left: -210px;
    width: 420px;
    height: 400px;
}

.chooseicon>ul {
    width: 410px;
    height: 380px;
    overflow: auto;
    margin-top: 10px;
    margin-left: 5px;
    background: linear-gradient(
        to right bottom,rgba(0,0,0,0.6),rgba(0,0,0,0.3)
    );
    border-radius: 20px;
}

.chooseicon>ul>li {
    list-style: none;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.chooseicon>ul>li>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* 底部信息条 */

footer {
    position: absolute;
    top: 100%;
    margin-top: -40px;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    height: 40px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
}

footer>p {
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}