* {
    margin: 0;
    padding: 0;
}

/* li {
    list-style: none;
} */

a {
    text-decoration: none;
    color: white;
}

body {
    /* background: url('../img/signupbg.jpg');
    background-size: 1920px; */
    background: url('../../mailbx/img/mainbg5.jpg');
    /* background: linear-gradient(
        to right,
        #ffcc70,#4158d0,#c850c0
    ); */
    font-family: 'Microsoft YaHei';
}
/* 
.bgbox {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #293263;
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.2),
    );
   backdrop-filter: blur(30px); 
} */

.black {
    position: absolute;
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.bgtext {
    position: relative;
    top: 250px;
    margin: 0 auto;
    width: 970px;
    height: 100px;
    font-size: 70px;
    color: #fff;
}


.formbox {
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    border-top: 2px solid rgba(255,255,255,0.8);
    border-left: 2px solid rgba(255,255,255,0.8);
}

.usericon {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 35px;
    left: 50%;
    margin-left: -50px;
    border-radius: 20px;
}

.usericon>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.icontext>p {
    position: absolute;
    left: 50%;
    top: 140px;
    margin-left: -48px;
    color: white;
}

.signbox {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 170px;
    left: 50%;
    margin-left: -190px;
    
}

.signbox input {
    width: 180px;
    height: 30px;
    margin-top: 20px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border-color: transparent;
    text-indent: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.8);
    outline: none;
}

.signbox input::-webkit-input-placeholder {
    color: whitesmoke;
}
.signbox input:ms-input-placeholder {
    color: whitesmoke;
}

#iconurl {
    display: none;
}

.tipsbox {
    position: absolute;
    top: 180px;
    width: 200px;
    height: 300px;
    left: 50%;
    margin-left: 30px;
}

.tipsbox li {
    margin-top: 10px;
    color: white;
}

.btnbox {
    position: absolute;
    width: 100%;
    left: 0;
    top: 420px;
}

.submitbtn, .backbtn {
    width: 80px;
    height: 40px;
    margin-left: 110px;
    border-radius: 10px;
    font-size: 17px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 6px;
    border-top: 1px solid rgba(255,255,255,0.8);
    border-left: 1px solid rgba(255,255,255,0.8);
    font-weight: 700;
    color: white;
}

.submitbtn:hover, .backbtn:hover {
    background: linear-gradient(
        to right bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.1)
    );
}

/* 弹出式头像选择界面 */
.chooseicon {
    position: absolute;
    transform: scale(0);
    z-index: 5;
    top: 120px;
    left: 50%;
    margin-left: -210px;
    width: 420px;
    height: 400px;
    border-radius: 20px;
    background: linear-gradient(
        to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    border-top: 2px solid rgba(255,255,255,0.8);
    border-left: 2px solid rgba(255,255,255,0.8);
}

.chooseicon>ul {
    width: 410px;
    height: 380px;
    overflow: auto;
    margin-top: 10px;
    margin-left: 5px;
}

.chooseicon>ul>li {
    list-style: none;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.chooseicon>ul>li>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}


/* .submitbtn,.backbtn {
    display: inline-block;
    cursor: pointer;
    margin-left: 100px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.6),
        rgba(255,255,255,0.1),
    );
    backdrop-filter: blur(8px);
}



.submitbtn a::before,.submitbtn a::after, .backbtn a::before,.backbtn a::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: tomato;
    transition: 0.3s;
}

.submitbtn a:nth-child(1):before,.submitbtn a:nth-child(1):after, .backbtn a:nth-child(1):before,.backbtn a:nth-child(1):after {
    background: linear-gradient(45deg,#00ccff,#293263,#d400d4);
}

.submitbtn a:hover::before, .backbtn a:hover::before {
    inset: -3px;
}

.submitbtn a:hover::after, .backbtn a:hover::after {
    inset: -3px;
    filter: blur(10px);
}

.submitbtn a span,.backbtn a span {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: #293263;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
} */

